body {
  font-family: Arial;
  background: #f2f2f2;
}

.card {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

input, textarea, button {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}
button {
  background: #0d6efd;
  color: white;
  border: none;
}
